.addToCart {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.button {
  width: 90px;
  font-size: 16px;
  border: 1px solid rgb(128, 35, 128);
  border-radius: 2px;
  padding: 8px;
  cursor: pointer;
}

.button:hover {
  background-color: solid rgb(128, 35, 128);
}
