.Card {
    border-style: solid;
    border-color:gray;
    height: 275px;
    width: 200px;
    border-width: 1px;
    margin-left: 10px;
    border-radius: 5px;
    overflow: hidden;
}

.flex-c {
    display: flex;
    justify-content: left;
    margin-left: 2px;
}